.header {
    background-color: #2c323c;
    color: #fff;
    min-height: 400px;
    padding: 180px 20px 140px 20px;
    text-align: center;
    font-family: sans-serif;
    width: 100%;
  }
  
  .header h1 {
    margin: 0;
    margin-bottom: 30px;
    padding-top: 75px;
    text-align: center;
    color: white;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
  }
  
  h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
  }