.header {
    /* background-color: #2c323c; */
    background-image: url("../../concert.jpg");
    color: #fff;
    min-height: 400px;
    padding: 180px 20px 140px 20px;
    text-align: center;
    font-family: sans-serif;
    width: 100%;
  }
  
  .header h1 {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.93) 0%,rgba(0,0,0,0.93) 38%,rgba(0,0,0,0.93) 47%,rgba(0,0,0,0.9) 48%,rgba(0,0,0,0) 80%,rgba(0,0,0,0) 82%);
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
  }
  
  h2 {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.93) 0%,rgba(0,0,0,0.93) 38%,rgba(0,0,0,0.93) 47%,rgba(0,0,0,0.9) 48%,rgba(0,0,0,0) 80%,rgba(0,0,0,0) 82%);
    display: block;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
  }