.navbar {
    background: #4c4c4c;
    min-height: 70px;
    position: fixed;
    width: 100%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25),
                0 10px 10px rgba(0, 0, 0, .22);
    color: #fff;
    font-size: calc(10px + 14 * (100vw - 320px) / 800);
    font-family: sans-serif;
    z-index: 99;
    white-space: nowrap;
}

.homey {
    background-color: transparent;
    font-weight: 900;
    color: #fff;
}

.homey:hover {
    text-decoration: none;
    color: #fff;
}

li {
    display: inline-block;
    padding: 0px 26px;
    text-align: center;
    width: 33.33%;
}