.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #6956af;
    height: 100px;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
}

.bottom {
    background: #5138a1;
    padding: 8px;
    font-weight: 600;
}